.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  margin-top: 1rem;
}
.nes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nes-pokeball {
  transform: scale(0.5);
}

.imageContainer {
  width: 300px;
  height: 300px;
  margin: -2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.bottom-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.score-container {
  width: 50%;
  padding: 0;
  padding: 0.5rem 0 0.5rem 0.5rem;
  display: flex;
  align-items: flex-start;
}

.score-container p {
  margin: 0;
}

.button-container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.pokemonImg {
  width: 100%;
  image-rendering: pixelated;
  transition: filter 500ms ease-in-out;
  pointer-events: none;
  user-select: none;
}

.pokemonImg.hide {
  filter: brightness(0);
}

form {
  display: flex;
  gap: 0.5rem;
}

button {
  min-width: 150px;
}

input.disabled {
  pointer-events: none;
}

.response {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  min-height: 88px;
  margin-bottom: 2rem !important;
}

.response.hide {
  opacity: 0;
}
